/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=block'); */

/*style reset*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%; font-family: 'Roboto', sans-serif;  font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%; scroll-behavior: smooth;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit; font-weight: 500;}
/*--------------------*/

html::-webkit-scrollbar{
    display: none;  /* Chrome */
}
html{    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}  



:root {
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255,255,255, 0.6);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

body{
    overflow-x: hidden;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    background-image: url(../src/assets/5-dots.png);
    user-select: none;
}

/* GENERAL STYLES */
.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}



section > h2, section > h5 {
    text-align: center;
    color: var(--color-light);
}

section>h2{
    color:var(--color-primary);
        font-size: 2rem;
}

a{
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover{
    color: var(--color-white);
}

 .btn{
     display: inline-block;
     color: var(--color-primary);
     padding: 0.75rem 1.2rem;
     border-radius: 0.4rem;
     cursor: pointer;
     border: 1px solid var(--color-primary);
     transition: var(--transition);
 }

 .btn:hover{
     background: var(--color-white);
     color: var(--color-bg);
 }

 .btn-primary{
     background: var(--color-primary);
     color: var(--color-bg);
 }

 img{
     display: block;
     width: 100%;
     object-fit: cover;
 }

/* MEDIUM DEVICES */
 @media screen and (max-width: 1024px){
     .container{
         width: var(--container-width-md);
     }

     #NavSection  :nth-child(1n) {
            font-size: 2rem;
            left: 0.1rem;
    }
 }

 /* SMALL DEVICES */

 @media screen and (max-width: 600px){
    .container{
        width: var(--container-width-sm);
    }

    .AboutInformationArticles{
        flex-direction: column;
        align-items: center;
    }
    .AboutInformationArticles>article{
        min-width:12rem;
    }


    #HeaderSocial, #HeaderArrowDown, #NavSection{
        display: none;
    }


}
